@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Kayıt Ekle";
}


    <header>
        <h4 class="text-info">Kayıt eklemek için sisteme okuyucu olarak giriş yapmanız gerekmektedir.</h4>
    </header>