@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <h1 class="text-center"> Hoş Geldiniz! </h1>
    <h3 class="text-center"> Sesli Kütüphane, sesli kitap okuyucuları ve dinleyicilerini buluşturma platformudur.</h3>
    <div style="margin-top:50px;margin-bottom:50px;text-align:center;">
        <img style="border-radius:5px;" src="https://static.voices.com/wp-content/uploads/History-of-Audiobooks.jpg" />
    </div>
</div>